* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --pink-1: #EE8AA8;
    --pink-2: #F56692;
    --red-1: #d1515a;
    --yellow: #FAD95E;
    --black: #171d1c;
    --grey-1: #c4c4c4;
    --grey-2: #454e56;
    --grey-3: #f8f8f8;
    --text-primary-color: #f3f0f0;
}

body {
    /**** background found on https://www.gradientmagic.com/ ****/
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));    
    font-family: 'Dancing Script', cursive;
    font-size: 1.1rem;
    color: var(--text-primary-color);
    transition: all .4s ease-in-out;
}

header {
    min-height: 100vh;
    color: var(--text-primary-color);
    overflow: hidden;
    padding: 0 !important;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 10rem;
}

a {
    color: var(--text-primary-color);
    text-decoration: none;
}

h2 {
    color: var(--text-primary-color);
    width: 30rem;
    font-family: 'Dancing Script', cursive; 
    font-size: 4rem; 
}

p {
    margin: 2rem 0;
    color: #f3f0f0;
    font-family: 'Lato', sans-serif;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));    
}


.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0%{ transform: translateY(-100%) scaleY(0); }
        100%{ transform: translateY(0) scaleY(1); }
    }
}

.yel-effect {
    background-color: rgb(210 242 24 / 10%);
    border-color: #d8f218;
    box-shadow: 5px 5px 20px 0px rgb(210 242 24 / 75%);
    -webkit-box-shadow: 5px 5px 20px 0px rgb(210 242 24 / 75%);
    -moz-box-shadow: 5px 5px 20px 0px rgb(210 242 24 / 75%);
}
.pink-effect {
    background-color: rgb(230 55 216/ 10%);
    border-color: #e637d8;
    box-shadow: 5px 5px 20px 0px rgba(230,55,216,0.75);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(230,55,216,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(230,55,216,0.75);
}
.corail-effect {
    background-color: rgb(247 135 135/ 10%);
    border-color: #f78787;
    box-shadow: 5px 5px 20px 0px rgba(247,135,135,0.75);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(247,135,135,0.75);
    -moz-box-shadow: 5px 5px 20px 0px rgba(247,135,135,0.75);
}

// Animation 
.blob { 
    width: 200px;
    height: 200px;
    margin: 7rem;
    animation: moove 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 10px 0 40px #ee9ca7,
                inset -10px 0 20px #ffdde1,
                inset -40px 10px 100px #555668;
  
}

@keyframes moove {
0% {
            border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
            background: linear-gradient(45deg, #EECDA3 0%, #EF629F 100%);
    } 
    
    50% {
            border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
            background: linear-gradient(45deg, #EECDA3 0%, #EF629F 100%);
    }

    100% {
        border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
        background: linear-gradient(45deg, #EECDA3 0%, #EF629F 100%);
    } 
}

// Menu
.navbar {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .nav{
        padding: 1rem;
        cursor: pointer;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        i {
            font-size: 1.2rem;
            color: var(--text-primary-color);
            pointer-events: none;
            &:hover {
                color: var(--pink-2);
            }
        }
    }
    .active-btn {
        color: var(--pink-2);
        transition: all .4s ease-in-out;
        i { color: var(--color-white); }
    }
}

/*Header-content*/
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header {
        display: flex;
        align-items: center;
        position: relative;
        .image {
            height: 90%;
            z-index: 1;
            transition: all .4s ease-in-out;
            position: relative;
            #myPicture {
                width: 280px;
                height: 280px;
                border-radius: 50%;
                object-fit: cover;
                position: absolute;
                margin-left: 6rem;
                margin-top: 11rem;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;
        .ascali {
            display: flex;
            text-align: center;
            margin-left: -8rem;
            align-items: center;            
            font-family: 'Tangerine', cursive;
            font-size: 2rem;
            .logo {
                width: 300px;
                margin-top: -3rem;
                margin-right: -3.5rem;
            }
        }
        h2 {
            width: 30rem;
            font-family: 'Dancing Script', cursive; 
            font-size: 4rem; 
          }
          p {
            font-family: 'Lato', sans-serif;
            font-size: 1.5rem;
          }
    }
    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
      }
      
      .animation {
        width: 10rem;
      }
      
      .animation span {
          width: 5vmin;
          height: 5vmin;
          border-radius: 5vmin;
          backface-visibility: hidden;
          position: absolute;
          animation: move;
          animation-duration: 34;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
      }
      
      span:nth-child(0) {
          color: #f78787;
          top: 11%;
          left: 40%;
          animation-duration: 44s;
          animation-delay: -103s;
          transform-origin: 19vw -1vh;
          box-shadow: -16vmin 0 2.826523120203583vmin currentColor;
      }
      span:nth-child(1) {
          color: #d8f218;
          top: 14%;
          left: 23%;
          animation-duration: 41s;
          animation-delay: -86s;
          transform-origin: 0vw -15vh;
          box-shadow: 16vmin 0 2.359463343035114vmin currentColor;
      }
      span:nth-child(2) {
          color: #f78787;
          top: 35%;
          left: 47%;
          animation-duration: 56s;
          animation-delay: -35s;
          transform-origin: 1vw -5vh;
          box-shadow: 16vmin 0 2.9127659392957685vmin currentColor;
      }
      span:nth-child(3) {
          color: #e637d8;
          top: 31%;
          left: 23%;
          animation-duration: 50s;
          animation-delay: -22s;
          transform-origin: 5vw 16vh;
          box-shadow: 16vmin 0 2.013518292616208vmin currentColor;
      }
      span:nth-child(4) {
          color: #f78787;
          top: 56%;
          left: 85%;
          animation-duration: 55s;
          animation-delay: -51s;
          transform-origin: 2vw 25vh;
          box-shadow: 16vmin 0 2.77327087574877vmin currentColor;
      }
      span:nth-child(5) {
          color: #e637d8;
          top: 22%;
          left: 78%;
          animation-duration: 76s;
          animation-delay: -91s;
          transform-origin: 2vw 23vh;
          box-shadow: -16vmin 0 2.3485912252048857vmin currentColor;
      }
      span:nth-child(6) {
          color: #d8f218;
          top: 75%;
          left: 25%;
          animation-duration: 46s;
          animation-delay: -127s;
          transform-origin: 23vw -4vh;
          box-shadow: -16vmin 0 2.349477318777313vmin currentColor;
      }
}

/*About*/
.about-container {
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .left-about {
        p {
            width: 80vw;
            padding: 0 1rem;
            margin: 3rem 0;
            color: #f3f0f0;
            line-height: 2rem;
            font-family: 'Lato', sans-serif;
        }
    }
}

.about-stats {
    padding-bottom: 5rem;
}

.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    text-align: center;
    color: var(--pink-1);
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-5);
        transform: translateX(-50%);
    }
}

.stacks {
    #stack-container {
        justify-items: center;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        li {
            border-radius: 50%;
            width: 8rem;
            height: 8rem;
            border: 3px solid;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;            
        }
    }
}  

.training {
    .training-item {
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--grey-1);
        text-align: justify;
        p, li {
            font-family: 'Lato', sans-serif;
        }
        .train-icon {
            position: absolute;
            color: var(--pink-2);
            background-color: var(--text-primary-color);
            border-radius: 50%;
            left: -25px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            i { font-size: 1.3rem; }
        }
        .year {
            margin: 0;
            padding-top: 0.7rem;
        }
        h5 {
            padding: 1rem 0;
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            font-weight: 600;
            span {
                color: var(--pink-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
}

//Portfolios
.port-text {
    padding: 2rem 0;
    text-align: center;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .logo-project {
        position: relative;
        border-radius: 15px;
        img {
            width: 100%;
            height: 300px;
            border-radius: 15px;
        }
        .hover-items {
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3 {
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i {
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }
                    &:hover {
                        background-color: var(--color-white);
                        i { color: var(--color-primary); }
                    }
                }
            }
        }
    }
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

// Mes realisations

.container-gallery {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap; 
    gap: 1rem;
    position: relative;
}


.img-gallery {
    width: 350px;
    height: 18rem;
    background: #f6f6f6;
    backdrop-filter: blur(30px);
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: -6px 8px 5px 0px rgba(250,217,94,0.54);
}

#detailsFocus {
    /* display: none; */
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
}

.details-focus {
    visibility: hidden;

}


#detailsFocus:active {
    display: flex;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
} 

#detailsFocus div {
  width: 350px;
  height: 80px;
  margin: 100px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border: 3px solid #cccccc;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.logo-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 230px;
}

//Blogs Section
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .blog {
        position: relative;
        border-radius: 5px;
        transition: all .4s ease-in-out;
        &:hover {
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            img {
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 0px 4px 15px rgba(0,0,0,0.8);
            }
        }
        img {
            width: 100%;
            height: 300px;
            // object-fit: cover;
            background-color: #f6f6f6;
            padding: 2rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
        }
        .blog-text {
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid #858585;
            h4 {
                font-size: 1.8rem;
                text-align: center;
                margin: .7rem auto;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover { color: var(--pink-1); }
            }
            p {
                font-size: 1rem;
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
}



//Contact section
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
        flex: 2;
        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;
            a {
                display: flex;
                align-items: center;
                color: var(--grey-2);
                background-color: var(--grey-1);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: var(--pink-1);
                    i { color: var(--text-primary-color); }
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;
        .input-control {
            margin: 1.5rem 0;
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--grey-3);
                width: 100%;
                color: var(--grey-2);
                resize: none;
            }
        }
        .i-c-2 {
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn {
            display: flex;
            justify-content: flex-start;
            .animated-link {
                display: inline-block;
                background: var(--pink-1);
                color: #000;
                border: 1px solid #333;
                padding: 16px 30px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 10px;
                cursor: pointer;
                transition: transform 0.15s ease-out,
                color 0.15s ease-out,
                background-color 0.15s ease-out;
              }
              .animated-link:hover {
                transform: translate(-1px, -3px);
                color: #000;
                background: var(--yellow);
              }
        }
    }
}


/*Independed components*/
.btn-cta {
    display: flex;
    align-self: flex-start;
    .animated-link {
        background: var(--pink-1);
        border-radius: 50px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        padding: 10px;
        display: flex;
        align-self: flex-start;
        align-items: center;
        .btn-del { 
            padding: 0 2rem; 
        }
        .btn-icon {
            background-color: var(--text-primary-color);
            color: var(--pink-1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 1rem;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: all .4s ease-out;
            z-index: -1;
        } 
    }
}

.animated-link:hover {
    transform: translate(-1px, -3px);
    color: #000;
    background: var(--yellow);
}

.main-title {
    text-align: center;
    h2 {
        position: relative;
        font-size: 5rem;
        font-weight: 700;
        span { 
            color: var(--pink-2); 
        }
    }
}

@import './media';